html
    head
        title Home
        include headers
    body
        include base
        div(class="container")
            div(class="row") 
                p(class="green-text") #{message}
                h1 Your registered courses:
            div(class="row")
            if courses.length == 0
                p(class="red-text") No courses registered.
            each course in courses
                - var courseURL = "location.href='course/" + course.id + "/registered'";
                div(class="col s12",onclick=courseURL)
                    div(class="card-panel hoverable")
                        h4 #{course.id} - #{course.name}
                        h6(class="blue-text") #{user.coursesRegistered[course.id]}
                        p #{course.desc}
        
            div(class="row")
                h1 Courses you teach:
            div(class="row")
            if auth.length == 0
                p(class="red-text") You don't teach any classes.
            each course in auth
                - var courseURL = "location.href='course/" + course.id + "/authored'";
                div(class="col s12",onclick=courseURL)
                    div(class="card-panel hoverable")
                        h4 #{course.id} - #{course.name}
                        p #{course.desc}
